*{
  margin: 0;
  padding:0;
}

body{
  padding:20px;
  height:auto; 
}
.content{
  padding: 20px;
  background-color: rgb(241, 237, 237);
  overflow: hidden;
  position: relative;
  min-width: 450px;
}

.left{
  width:200px;
  float:left;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  }
  .left img{
    width:80px;
    height:80px;
    margin-right: 20px;
  }
  .left div{
 position: absolute;
 top:20px;
 left:120px;
  }

  .middle{
    margin:0 140px 0 220px;
    background-color: white;
    }

.right{
width:120px;
float:right;
background-color: white;
padding: 20px;
box-sizing: border-box;
}
.right img{
  width:80px;
  height:80px;
  margin-bottom: 20px;
}



