<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>常见官网布局样式</title>
  <link rel="stylesheet" type="text/css" href="../style/official-website.css"></link>

  <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
  <script src="../event/official-website.js"></script>
</head>

<body>
  <!--导航栏-->
  <div class="nav">
    <div class="navhead">
      <img src="../image/2.jpeg">
      <p>新世界</p>
    </div>
    <ul class="navbar">
      <li>
        <a href="#" id="1" class="navbarlink">首页</a>
      </li>
      <li>
        <a href="#" id="2" class="navbarlink">项目介绍</a>
      </li>
      <li>
        <a href="#" id="3" class="navbarlink">最新活动</a>
      </li>
      <li>
        <a href="#" id="4" class="navbarlink">爱心社区</a>
      </li>
      <li>
        <a href="#" id="5" class="navbarlink">关于我们</a>
      </li>
      <li class="login">
        <a href="#" id="6" class="navbarlink">登录</a>
      </li>
    </ul>
  </div>
  <!--head-->
  <div class="head">
    <div class="headtext">
      <p class="p1">Time of new life</p>
      <p class="p2">新时代 年轻的活力让我们在一起
        <br>体验生活 享受新生活</p>
      <p class="p3">开始体验</p>
    </div>
  </div>
  <!--分类介绍-->
  <div class="classify">
    <div>
      <img src="../image/2.jpeg" class="classify-icon">
      <p>打造全新世界观 让你更爱你的生活</p>
    </div>
    <div>
      <img src="../image/3.jpeg" class="classify-icon">
      <p>打造全新世界观 让你更爱你的生活</p>
    </div>
    <div>
      <img src="../image/4.jpeg" class="classify-icon">
      <p>打造全新世界观 让你更爱你的生活</p>
    </div>
    <div>
      <img src="../image/5.jpeg" class="classify-icon">
      <p>打造全新世界观 让你更爱你的生活</p>
    </div>
  </div>
  <!--新世界-->
  <div class="new-world">
    <div class="new-worldcontent">
      <img src="../image/5.jpeg">
      <p>
        关于新世界，你不知道的还有什么？
      </p>
    </div>
  </div>
  <!--下拉框-->
  <div class="serachbox">
    <div class="text">
      <p></p>
      <p></p>
    </div>

    <div class="listform">
      <div class="slectbox">
        <div class="clickbutton">中国</div>
        <ul class="dropdownmenu">
          <li>中国</li>
          <li>美国</li>
          <li>英国</li>
          <li>德国</li>
        </ul>
      </div>

      <div class="slectbox">
          <div class="clickbutton">省份</div>
          <ul class="dropdownmenu">
            <li>上海</li>
            <li>河南</li>
            <li>杭州</li>
            <li>北京</li>
          </ul>
        </div>

        <div class="slectbox">
            <div class="clickbutton">城市</div>
            <ul class="dropdownmenu">
              <li>宝山</li>
              <li>嘉定</li>
              <li>静安</li>
              <li>浦东</li>
            </ul>
          </div>

          <div class="slectbox">
              <div class="search-button">搜索</div>
            </div>
    </div>
  </div>
<!--照片栏-->
<div class="photo-bar">
  <div class="photobox">
    <div class="photo-imgbox">
    <img src="../image/6.jpg">
    </div>
    <p class="photo-textbox">北京活动 新社区大联盟</p>
    </div>
    <div class="photobox">
        <div class="photo-imgbox">
        <img src="../image/7.jpg">
        </div>
        <p class="photo-textbox">北京活动 新社区大联盟</p>
        </div>
        <div class="photobox">
            <div class="photo-imgbox">
            <img src="../image/6.jpg">
            </div>
            <p class="photo-textbox">北京活动 新社区大联盟</p>
            </div>
            <div class="photobox">
                <div class="photo-imgbox">
                <img src="../image/7.jpg">
                </div>
                <p class="photo-textbox">北京活动 新社区大联盟</p>
                </div>
  </div>

  <!--轮播图-->
  <div class="slide-container">
    <div id="slide-ul">
    <div class="slidebox" id="slidebox1">
      <img src="../image/8.jpg" >
      <div> 
        <h3>新世界</h3>
        <p>北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界</p>
      </div>
    </div>
    <div class="slidebox" id="slidebox2">
        <img src="../image/9.jpg">
        <div> 
          <h3>新世界</h3>
          <p>北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界</p>
        </div>
    </div>
    <div class="slidebox" id="slidebox3">
        <img src="../image/10.jpg">
        <div> 
          <h3>新世界</h3>
          <p>北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界</p>
        </div>
        </div>
        <div class="slidebox" id="slidebox4">
            <img src="../image/11.jpg">
            <div> 
              <h3>新世界</h3>
              <p>北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界</p>
            </div>
            </div>
    </div>
    <!--切换按钮-->
    <ul class="slideBtn-box">
      <li class="slideBtn" id="slideBtn1"></li>
      <li class="slideBtn" id="slideBtn2"></li>
      <li class="slideBtn" id="slideBtn3"></li>
      <li class="slideBtn" id="slideBtn4"></li>
    </ul>
    <!--左右切换建-->
      <img src="../image/left.png" class="lefticon">
      <img src="../image/right.png" class="righticon">

    </div>


    <!--文本输入框-->
    <form>
    <input type="text" name="firstname" value="text">
    </form>
</body>

</html>