<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../event/slide.js"></script>
</head>
<body>
  <div id="1">
attributes属性
    </div>
    <!--轮播图-->
  <div class="slide-container">
      <div id="slide-ul">
      <div class="slidebox" id="slidebox1">
        <img src="../image/8.jpg" >
        <div> 
          <h3>新世界</h3>
          <p>北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界</p>
        </div>
      </div>
      <div class="slidebox" id="slidebox2">
          <img src="../image/9.jpg">
          <div> 
            <h3>新世界</h3>
            <p>北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界</p>
          </div>
      </div>
      <div class="slidebox" id="slidebox3">
          <img src="../image/10.jpg">
          <div> 
            <h3>新世界</h3>
            <p>北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界</p>
          </div>
          </div>
          <div class="slidebox" id="slidebox4">
              <img src="../image/11.jpg">
              <div> 
                <h3>新世界</h3>
                <p>北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界北京新世界</p>
              </div>
              </div>
      </div>
</body>
</html>